body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsla(185, 64%, 34%, 0.234);
    /* background-color: #F0F8FF; */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.weatherForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
    width: 400px;
    align-items: center;
}

.weatherForm input {
    align-items: flex-start;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.inputCityName{
    flex-grow: 3;
    padding: 10px 15px;
    border: 1px solid #007bff; 
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    width: auto;
    height: 50px;
}

.btn{
    background-color: #007bff;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius:15px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 150px;
    height: 40px;
    cursor: pointer;
}

.btn:hover{
    background-color: #0056b3;
}

.card{
    position: relative;
    background-image:  url("bg-img.jpg");
    background-size: cover;
    background-position: center;
    padding: 70px;
    box-shadow: 2px 2px 5px rgb(69, 89, 93);
    border-radius: 20px;
    width: 370px;
    height: 400px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.card.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.mainInfo p{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cityNameDisplay, .tempDisplay{
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 50px;
    color: hsla(0, 0%, 0%, 0.649);
    -webkit-text-stroke: 0.7px rgb(0, 0, 0);
    width: auto;
}
.tempDisplay{
    font-size: 3rem;
}

.datetimeDisplay{
    margin-top: 5px;
    font-style: italic;
}

.descriptionDisplay{
    margin-bottom: 50px;
    font-style: italic;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.682);
}

.subInfo {
    display: flex; 
    flex-direction: row; 
    gap: 15px; 
    justify-content: space-between; 
    width: 100%; 
    flex-wrap: wrap;
    margin: 20px 0;
}

.subInfo p {
    flex-grow: 1; 
    flex-shrink: 1; 

    background-color: hsla(23, 56%, 52%, 0.285); 
    background: linear-gradient(90deg,rgba(172, 121, 25, 0.5), rgba(20, 128, 167, 0.5));
    padding: 10px 5px; 

    font-family: Tahoma, sans-serif;
    border-radius: 10px; 
    text-align: center; 
    font-size: 0.99em;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.62);
    margin: 0;   

    min-width: 120px;
    min-height: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.34); 
    transition: transform 0.2s, box-shadow 0.2s; 
}


.subInfo p:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.subInfo p::before {
    content: attr(data-label); 
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 0.7em;
    font-weight: normal;
    color: #ffffffa2;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.errorMsg {
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.727);
    text-align: center;
}